.bodySection {
  box-sizing: border-box;
  display: flex;
  gap: var(--system-gap-24);
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--system-gap-24);
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.container {
  background-color: var(--system-color-container-bg);
  box-sizing: border-box;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: var(--system-gap-24);
  align-items: flex-start;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  padding: var(--system-gap-32) var(--system-gap-24) var(--system-gap-24);
  position: relative;
  border-radius: var(--system-radius-24);
  flex-shrink: 0;
}

.contentSection {
  display: flex;
  flex-direction: column;
  gap: var(--system-gap-4);
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.boardType {
  border-bottom: var(--system-stroke-1) solid var(--system-color-stroke-boardlist-gray);
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.boardTypeInner {
  box-sizing: border-box;
  display: flex;
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  font-style: normal;
  overflow: hidden;
  padding: var(--system-gap-16) var(--system-gap-24);
  position: relative;
  border-radius: inherit;
  color: var(--system-color-txt-label-default);
  font-size: var(--system-font-size-16);
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.boardTypeInner p {
  position: relative;
  flex-shrink: 0;
}

.colNo {
  letter-spacing: var(--system-font-letter-spacing-en);
  width: 56px;
}

.colType,
.colHandler {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 56px;
}

.colCompany {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 192px;
}

.colTitle {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 260px;
}

.colRegDate {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 104px;
}

.colStatus {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 60px;
}

.sysBoard {
  border-bottom: var(--system-stroke-1) solid var(--system-color-stroke-boardlist-gray);
  height: 48px;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.sysBoard.clickable {
  cursor: pointer;
}

.sysBoardInner {
  box-sizing: border-box;
  display: flex;
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-regular);
  height: 48px;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  font-style: normal;
  overflow: hidden;
  padding: var(--system-gap-16) var(--system-gap-24);
  position: relative;
  border-radius: inherit;
  color: var(--system-color-txt-onboard-default);
  font-size: var(--system-font-size-16);
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.sysBoardInner p {
  position: relative;
  flex-shrink: 0;
}

.opacityCancel {
  opacity: var(--system-effect-opacity-cancel);
}

.sysBoardInner p:nth-child(1) {
  letter-spacing: var(--system-font-letter-spacing-en);
  width: 56px;
}

.sysBoardInner p:nth-child(2) {
  letter-spacing: var(--system-font-letter-spacing-kr-default);
  width: 56px;
}

.sysBoardInner p:nth-child(3) {
  letter-spacing: var(--system-font-letter-spacing-kr-default);
  width: 192px;
}

.sysBoardInner p:nth-child(4) {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 260px;
}

.sysBoardInner p:nth-child(5) {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 104px;
}

.sysBoardInner p:nth-child(6) {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 56px;
}

.sysBoardInner p:nth-child(7) {
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 60px;
}

.pagingDownloadSection {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: var(--system-gap-4);
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.nullSpacer {
  height: 19px;
  flex-shrink: 0;
  width: 110px;
}

.paging {
  display: flex;
  flex: 1 0 0;
  gap: var(--system-gap-12);
  align-items: flex-start;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  flex-shrink: 0;
}

.sysBoardPagingnum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.sysBoardPagingnum .num {
  background-color: var(--system-color-paging-surface);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--system-gap-8);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: var(--system-gap-8);
  position: relative;
  border-radius: var(--system-radius-4);
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.sysBoardPagingnum p {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-regular);
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: var(--system-color-txt-link-default);
  font-size: var(--system-font-size-14);
}

.sysBoardPagingnum.active .num {
  background-color: var(--system-color-btn-surface);
}

.sysBoardPagingnum.active p {
  color: var(--system-color-txt-onSurface-white);
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.dot p {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-regular);
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: var(--system-font-size-14);
  color: var(--color-palette-neutral-k);
}

.downloadSection {
  display: flex;
  gap: var(--system-gap-4);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.sysTxtLink {
  display: flex;
  gap: var(--system-gap-8);
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.sysTxtLink p {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-regular);
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: var(--system-color-txt-link-default);
  font-size: var(--system-font-size-14);
  text-align: right;
  letter-spacing: var(--system-font-letter-spacing-label);
  white-space: nowrap;
}