.content {
  display: flex;
  flex-direction: column;
  gap: var(--system-gap-4);
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
}

.boardType {
  border-bottom: var(--system-stroke-1) solid var(--system-color-stroke-boardlist-gray);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-style: solid;
  position: relative;
  height: 48px;
}

.boardHeader {
  box-sizing: border-box;
  text-transform: capitalize;
  display: flex;
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  font-style: normal;
  overflow: hidden;
  padding: var(--system-gap-16) var(--system-gap-24);
  position: relative;
  border-radius: inherit;
  color: var(--system-color-txt-label-default);
  font-size: var(--system-font-size-16);
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.headerText {
  position: relative;
  letter-spacing: var(--system-font-letter-spacing-label);
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  color: var(--system-color-txt-label-default);
  font-size: var(--system-font-size-16);
  text-align: center;
  padding: var(--system-gap-16) 0;
  white-space: pre-wrap;
  text-transform: capitalize;
}

.headerText:nth-child(1) {
  width: 60px;
  letter-spacing: var(--system-font-letter-spacing-en);
}

.headerText:nth-child(2) {
  width: 158px;
}

.headerText:nth-child(3) {
  width: 56px;
}

.headerText:nth-child(4),
.headerText:nth-child(5),
.headerText:nth-child(6) {
  width: 104px;
}

.headerText:nth-child(7) {
  width: 152px;
}

.headerText:nth-child(8) {
  width: 60px;
}

.sysBoard {
  border-bottom: var(--system-stroke-1) solid var(--system-color-stroke-boardlist-gray);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-style: solid;
  height: 48px;
  position: relative;
}

.sysBoardRow {
  box-sizing: border-box;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  font-style: normal;
  overflow: hidden;
  padding: var(--system-gap-16) var(--system-gap-24);
  position: relative;
  border-radius: inherit;
  text-align: center;
  width: 100%;
}

.boardRowText {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-regular);
  position: relative;
  color: var(--system-color-txt-onboard-default);
  font-size: var(--system-font-size-16);
  white-space: pre-wrap;
  text-align: center;
  padding: var(--system-gap-16) 0;
}

.boardRowText:nth-child(1) {
  width: 60px;
  letter-spacing: var(--system-font-letter-spacing-en);
}

.boardRowText:nth-child(2) {
  width: 158px;
  letter-spacing: var(--system-font-letter-spacing-kr-default);
}

.boardRowText:nth-child(3) {
  width: 56px;
  letter-spacing: var(--system-font-letter-spacing-kr-default);
}

.boardRowText:nth-child(4),
.boardRowText:nth-child(5),
.boardRowText:nth-child(6),
.boardRowText:nth-child(8) {
  width: 104px;
  letter-spacing: var(--system-font-letter-spacing-label);
}

.dDay {
  display: flex;
  gap: var(--system-gap-4);
  align-items: center;
  position: relative;
  flex-shrink: 0;
  letter-spacing: var(--system-font-letter-spacing-label);
  width: 152px;
}

.dDayText {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-regular);
  position: relative;
  flex-shrink: 0;
  color: var(--system-color-txt-onboard-default);
  font-size: var(--system-font-size-16);
  white-space: pre-wrap;
  width: 104px;
}

.dDayValue {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  position: relative;
  flex-shrink: 0;
  color: var(--color-palette-red-400);
  font-size: var(--system-font-size-14);
}