/* Layout Component Styles */

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--system-color-page-bg);
  gap: var(--system-gap-56);
}

.mainContent {
  width: 100%;
  max-width: 1280px;
  padding: 0 var(--system-gap-24);
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    gap: var(--system-gap-32);
  }

  .mainContent {
    padding: 0 var(--system-gap-16);
  }
}