/* SearchSection Component Styles */

.searchSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.searchContent {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  gap: var(--system-gap-16);
  align-items: center;
  justify-content: flex-end;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.sysInput {
  background-color: var(--system-color-input-surface-default);
  box-sizing: border-box;
  display: flex;
  gap: var(--system-gap-12);
  height: var(--system-height-input-L);
  align-items: center;
  padding: var(--system-gap-12) var(--system-gap-24);
  position: relative;
  border-radius: var(--system-radius-12);
  flex-shrink: 0;
}

.sysInput p {
  flex: 1 0 0;
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  line-height: normal;
  min-height: 1px;
  min-width: 1px;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: var(--system-color-txt-onSurface-disable);
  font-size: var(--system-font-size-14);
  letter-spacing: var(--system-font-letter-spacing-label);
  white-space: pre-wrap;
}

.sysInput .icons {
  display: flex;
  gap: var(--system-gap-8);
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.sysInput:nth-child(1) {
  width: 151px;
}

.sysInput:nth-child(2) {
  width: 184px;
}

.sysInput:nth-child(3),
.sysInput:nth-child(5),
.sysInput:nth-child(6),
.sysInput:nth-child(7) {
  width: 172px;
}

.sysInput:nth-child(4) {
  width: 173px;
}

.searchInputField {
  width: 264px;
}

.dash {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: var(--system-font-size-16);
  color: var(--color-palette-neutral-k);
}

.btnBtnSurface {
  background-color: var(--system-color-btn-surface);
  box-sizing: border-box;
  display: flex;
  height: var(--system-height-btn-L);
  align-items: center;
  justify-content: center;
  padding: 0 var(--system-gap-24);
  position: relative;
  border-radius: var(--system-radius-12);
  flex-shrink: 0;
  width: 80px;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s ease;
}

.btnBtnSurface:hover {
  opacity: 0.9;
}

.btnBtnSurface p {
  font-family: var(--system-font-family-primary);
  font-weight: var(--system-font-weight-bold);
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: var(--system-color-txt-onSurface-white);
  font-size: var(--system-font-size-16);
  letter-spacing: var(--system-font-letter-spacing-kr-discript);
}